<!--
  Generated template for the ParentRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar text-center>
    <ion-title>Parent Register</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <div class="container bg2 auto_height">
    <div class="wrapper">
      <ion-grid no-padding style="height: 100%">
        <ion-row style="height: 100%">
          <ion-col col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 no-padding class="leftbar">
              <ion-grid no-padding style="height: 100%">
                  <ion-row justify-content-center align-items-center style="height: 100%;">
                      <ion-col text-center>
                          <div class="sidebar_content">
                              <h1 class="c-brown">Register Parent</h1>
                            <h3 class="c-brown">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                          </div>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-col>
          <ion-col col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 no-padding class="rightbar2">
              <ion-grid no-padding style="height: 100%">
                  <ion-row justify-content-center align-items-center style="height: 100%;">
                      <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3></ion-col>
                      <ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center class="parent_reg prl-50 mt-5 mb-5">
                            
                            <form class="form" id="parent-reg-form" [formGroup]="myForm">
                              <div class="upload-image">
                                 <ion-row>
                                    <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center>
                                      <div profile change_size>
                                         <img src={{profilePhoto}} id="circle"/>                                        
                                      </div>
                                     
                                     <!--  <h6 class="mt-0 mb-5">Father</h6> -->
                                    </ion-col>
                                  <ion-item class="imageUpload">
                                    <ion-input ngControl="image" type="file" placeholder="Select Category Image" (change)="fileChangeEvent($event)"> </ion-input>
                                     <ion-icon name="camera" class="icon-position">  </ion-icon>
                                    </ion-item>
                                  </ion-row>
                              </div>
                             
                                <ion-list>
                                    <ion-item>
                                        <ion-label><ion-icon name="user-icon"></ion-icon></ion-label>
                                        <ion-input type="text" placeholder="Name" id="prnt_name" formControlName="name"></ion-input>
                                      </ion-item>
                                      <ion-item class="label-left">
                                          <ion-label><ion-icon name="person"></ion-icon></ion-label>
                                          <ion-select text-left  [(ngModel)]="gender" [ngModelOptions]="{standalone: true}"  (ionChange)="getGender()" >
                                            <ion-option selected disabled value="parent">Parent Gender</ion-option>
                                            <ion-option value="father">Father</ion-option>
                                            <ion-option value="mother">Mother</ion-option>
                                          </ion-select>
                                        </ion-item>
                                          <ion-item>
                                            <ion-label><ion-icon name="user-icon"></ion-icon></ion-label>
                                            <ion-input type="text" placeholder="Username" id="usr" formControlName="usr"></ion-input>
                                        </ion-item>
                                      <ion-item>
                                          <ion-label><ion-icon name="mobile-icon"></ion-icon></ion-label>
                                          <ion-input type="tel" placeholder="Mobile Number" id="prnt_mob" formControlName="mobile"></ion-input>
                                        </ion-item>
                                              <ion-item class="label-left">
                                                  <ion-label><ion-icon name="calender-icon"></ion-icon></ion-label>
                                                  <ion-datetime placeholder="Date of Birth" name="dob" displayFormat="DD MMM YYYY" formControlName="dob"></ion-datetime>
                                               </ion-item>
                                         <ion-item class="label-left">

                                        <ion-label><ion-icon name="flag"></ion-icon></ion-label>
                                          <ion-select  [(ngModel)]="country" [ngModelOptions]="{standalone: true}"  (ionChange)="getCountryCities()" text-left >
                                              <ion-option selected disabled value="city">Country</ion-option>
                                              <ion-option *ngFor="let cn of countries" [value] ="cn" >
                                                <span>
                                                  <h2>{{cn.fullname}}</h2>
                                                </span>
                                              </ion-option>
                                           </ion-select>
                                      </ion-item>
                                      <ion-item class="label-left">
                                        <ion-label><ion-icon name="city-icon"></ion-icon></ion-label>
                                          <ion-select  [(ngModel)]="city" [ngModelOptions]="{standalone: true}"  (ionChange)="getCity()" text-left >
                                              <ion-option selected disabled value="city">City</ion-option>
                                              <ion-option *ngFor="let c of cities" [value] ="c" >
                                                <span>
                                                  <h2>{{c.fullname}}</h2>
                                                </span>
                                              </ion-option>
                                           </ion-select>
                                      </ion-item>
                                     <ion-item>
                                        <ion-label><ion-icon name="email-icon"></ion-icon></ion-label>
                                        <ion-input type="email" placeholder="Email" id="email" formControlName="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" ng-pattern-restrict></ion-input>
                                      </ion-item>
                                     <span class="error" *ngIf="myForm.controls['email'].errors?.valid &&
                                      myForm.controls['email'].touched" >Valid email is required</span>
                                      <span class="error" *ngIf="myForm.controls['email'].errors?.pattern &&
                                      myForm.controls['email'].touched" >Valid email is required</span>
                                       <ion-item>
                                          <ion-label><ion-icon name="keys-icon"></ion-icon></ion-label>
                                          <ion-input type="password" placeholder="Password" id="prnt_password" formControlName="pass"></ion-input>
                                        </ion-item>
                                  </ion-list>
                                    <button class="btn_bg" ion-button type="submit" [disabled]="!myForm.valid" (click)="RegisterParent()">Confirm</button>
                            </form>
                        </ion-col>
                      <ion-col col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3></ion-col>
                  </ion-row>
              </ion-grid>
          
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>

<ion-footer no-border>
    <ion-toolbar>
      <ion-title>
          <button ion-button item-start float-left class="c-default" (click)="mainPageJump()">
              Log in
          </button>
          <button  ion-button icon-left float-right class="c-default">
            Visitor
            <ion-icon name="visitor-icon"></ion-icon>
          </button>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
    <style type="text/css">
      .icon-position{
          font-size: 26px;
          position: absolute;
          bottom: 16px;
          right: 98px;
        }
      .ion-item.imageUpload.item.item-block.item-md.item-input {
        background-color: #fff0;
      }
      .imageUpload{
          background-color: #fff0;
      }

      #circle {
   width: 100px;
    height: 100px;
    background: #ccc9e1;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #686868;
    margin: auto;
}

.error {
    font-size: 11px;
    color: red;
}

    </style>